<html>
<head>
<title> From love with myscript.biz</title>
</head>
<body>
<div id="header"><h1>My blog</h1></div>

<div id="infinitum">
    <p><strong>Navigation<br />
      </strong><a href="http://myscript.biz">Home</a></p>
    <p><a href="#">Colophon</a></p>
    <p><a href="#">Photography</a></p>
    <p><a href="#">Portfolio</a></p>
    <p><a href="#">Contact</a><strong><br />
      <br />
      Search</strong><br />
    </p>
    <form name="form1" id="form1" method="post" action="#">
      <input type="text" name="textfield" />
    </form>
    <p>&nbsp;</p>
    <p><strong>Monthly Archives</strong></p>
    <p><a href="#">June 2005 <br />
      May 2005</a></p>
    <p><a href="#">April 2005</a></p>
    <p><a href="#">March 2005</a></p>
    <p> <strong><br />
      Categories</strong></p>
    <p><a href="#">Discussion</a></p>
    <p><a href="#">Jokes</a></p>
    <p><a href="#">Typography</a></p>
    <p><a href="#">Design</a></p>
    <p><a href="#">CSS</a></p>
    <p><a href="#">XHTML</a></p>
    <p><a href="#">Politics</a></p>
    <p>&nbsp;</p>
    <p><strong>Feeds</strong></p>
    <p><a href="#">RSS</a></p>
    <p><a href="#">Atom</a></p>
    <p>&nbsp;</p>
    <p><strong>Disclaimers</strong></p>
    <p>&copy; Biotin</p>
    <p><a rel="nofollow" target="_blank" href="http://myscript.biz">Redesign by Biotin</a></p>
    <p>Design by Smallpark.</p>
    <p>&nbsp;</p>
  </div>
  

<div id="container">
   <div class="text">
   
<% @articles.each do |article| %>
  <h1><strong>  <td><%= article.title %></strong></h1>
  <h2><strong><%= article.published_at %></strong></h1>
  <p><%= article.body %></p>

    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
<br />

<%= link_to 'New Article', new_article_path %>
  </div>
</div>
</body>
</html>
